body {
  background-image: url('../files/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
}
#board {
  border-spacing: 6px;
  display: block;
  margin: auto;
}

.cell {
  width: 100px;
  height: 100px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  width: 100px;
  height: 100px;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  border: white solid 4px;
}
.cell:hover {
  background: rgba(255, 255, 255, 0.4);
  cursor: pointer;
}

#playerIcon {
  position: absolute;
  top: 200px;
}
